Source: python-gridftp
Section: python
Priority: extra
Maintainer: Scott Koranda <skoranda@gravity.phys.uwm.edu>
Build-Depends: debhelper (>= 7), python-all-dev (>= 2.6.6), python-support (>= 1.0.10), libglobus-ftp-client-dev 
Standards-Version: 3.9.1
Homepage: https://wiki.ligo.org/LDG/DASWG/LIGODataReplicator

Package: python-gridftp
Architecture: any
Depends: ${python:Depends}, ${python:Versions}, ${python:Provides}, ${shlibs:Depends}, ${misc:Depends}
Description: Python Globus GridFTP client bindings
 Bindings for Python Globus GridFTP client, written in C as python module
