#!/usr/bin/make -f

PYDEF=$(shell pyversions -d)
PYVERS=$(shell pyversions -r)

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	touch $@

build: build-stamp
build-stamp: configure-stamp  
	dh_testdir
	set -e; \
	for python in $(PYVERS); do \
		python=$$(echo $$python | sed "s/$(PYDEF)/python/"); \
		GLOBUS_LOCATION=/opt/ldr-globus $$python setup.py build; \
	done
	touch build-stamp

clean: 
	dh_testdir
	for python in $(PYVERS); do \
		python=$$(echo $$python | sed "s/$(PYDEV)/python/"); \
		GLOBUS_LOCATION=/opt/ldr-globus $$python setup.py clean; \
	done
	rm -f build-stamp configure-stamp
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	set -e; \
	for python in $(PYVERS); do \
		python=$$(echo $$python | sed "s/$(PYDEF)/python/"); \
		GLOBUS_LOCATION=/opt/ldr-globus $$python setup.py install --root=debian/python-gridftp; \
	done


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_pysupport
	dh_installdeb
	dh_gencontrol
	#dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
